@import url("./reset.css");

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

main {
    overflow: hidden;
}

a {
    text-decoration: none;
}

body {
    background-color: #fff;
}


header {
    background-color: rgb(255, 255, 255);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px rgb(0 0 0 / 0.2);
}


.bar {
    display: none;
}

h1 {
    color: #3333ff;
    font-size: 30px;
    line-height: 70px;
    font-weight: bold;
    display: inline;
}

nav {
    display: flex;
}

nav ul li {
    display: inline;
    line-height: 70px;
}

nav ul li+li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    transition: all 0.25s ease-in-out;
    border-radius: 10px;
    padding: 5px 20px;
}

nav ul li a:hover {
    background-color: #3333ff;
    color: #fff;
}

header .bar {
    color: #3333ff;
    font-size: 28px;
    line-height: 70px;
    margin-right: 10px;
}

a>button {
    height: 37px;
    width: 125px;
    background-color: #3333ff;
    color: #fff;
    border-radius: 8px;
    font-size: 18px;
    text-transform: uppercase;
}

a>button:hover {
    background-color: #16169a;
}

/*-----------------------------------------*/
/* Main                           */
/*-----------------------------------------*/

.heading {
    position: relative;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 32px;
    color: #556A83;
    font-weight: 600;
    z-index: 999;
}

form {
    font-size: 0;
    margin-top: 10px;
}

input[type=text] {
    width: 320px;
    height: 46px;
    border: 1px solid rgb(255 255 255 / 0.15);
    border-radius: 50px;
    padding: 0 15px 0 38px;
    font-size: 18px;
    font-weight: 400;
    color: #A0A2A6;
    background-size: 17px;
    border-color: #556A83;
    transition: border-color 0.25 ease-in-out;
}

.user {
    background: rgb(255, 255, 255) url("../image/man.png") no-repeat 16px 50%;
}

.phone {
    background: rgb(255 255 255) url("../image/phone.png") no-repeat 16px 50%;
}

.email {
    background: rgb(255 255 255) url("../image/email.png") no-repeat 16px 50%;
}

.po {
    font-size: 14px;
    margin-bottom: 13px;
    color: #ff0000;
    visibility: hidden;
}

input[type=text]:hover {
    border-color: rgb(38 83 77 / 0.3);
}

textarea {
    width: 320PX;
    height: 150PX;
    border: 1px solid rgb(255 255 255 / 0.15);
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #A0A2A6;
    border-color: #556A83;
    transition: border-color 0.25 ease-in-out;
    resize: none;
}

textarea:hover {
    border-color: rgb(38 83 77 / 0.3);
}

input[type=button] {
    position: relative;
    bottom: 1px;
    width: 120px;
    height: 40px;
    text-align: center;
    background-color: #E6E5FA;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #5138ED;
    transition: background-color 0.25 ease-in-out;
}

input[type=button]:hover {
    background-color: #e0defc;
}

.flex-direction-column {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-button a {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #5138ED;
    line-height: 50px;
    text-align: center;
    color: #5138ED;
    ;
    margin-right: 10px;
}

.big-action {
    height: 264px;
    background-color: #F6F8FA;
    border-radius: 16px;
    margin: 30px 0;
    text-align: center;
    padding: 30px 80px;
    color: #556A83;
}

.p-title {
    font-size: 30px;
    font-weight: 700;
}

.p-content {
    font-size: 18px;
    margin: 20px 0;
}

.p-button {
    height: 41px;
}

.p-button a {
    font-size: 15px;
    font-weight: 600;
    padding: 12px 28px;
    border-radius: 30px;
    background-color: #fff;
    color: #26534D;
    line-height: 41px;
}

@media (max-width: 796px) {
    .container {width: min(100% - 15px, 1080px);}
    nav ul {display: none;}
    .bar{display: block; 
         float: right;}
    a > button {display: none;}
  }